html{
    -webkit-text-size-adjust: 100%;
}
*{
    box-sizing: border-box;
}
body{
    background-image: url(../image/news/bg.jpg);
    height: 1080px;
    align-self: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: contain;
}
.conteiner{
    background-color: rgb(255, 255, 255);
    height: 40px;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 18px;
    border: solid rgb(117, 42, 179) 2px;
    box-shadow: 0 0 2px 0.5px rgb(117, 42, 179), 0 0 2px 0.5px rgb(117, 42, 179);
    filter: drop-shadow(0 0 10px rgb(117, 42, 179));
}
.conteiner_gmail{
    order: 2;
    flex-shrink: 0;
    margin-right: 12px;
}

.conteiner_gmail_text{
    color: #5C5C5C;
    order: 3;
    flex-shrink: 0; 
}
.conteiner_facebook{
    order: 4;
    flex-shrink: 0;
    margin-left: 12px;
    margin-top: 3px;
}
.conteiner_inst{
    order: 5;
    flex-shrink: 0;
    margin-left: 12px;
    margin-top: 3px;
}

.conteiner_gmail_text {
    color: #5C5C5C;
}
.header{
    position: relative;
}
.header_left{
    float: left;
    width: 200px;
    margin-left: 0px;
    margin-top: 4px;
    position: relative;
}
.header_left img{
    filter: drop-shadow(0 0 7px rgb(109, 39, 167));
}
.header_right{
    display: inline-flex;
    align-items: center;
}
.header_right img{
    filter: drop-shadow(0 0 8px rgb(109, 39, 167));
}
.header_left a {
    position: absolute;
    padding-left: 10px; 
    margin-bottom: 40px; 
    margin-top: 3px;
    text-decoration: none; 
    color: #5C5C5C;
}
.Welcome{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 130px;
    filter: drop-shadow(0 0 8px rgb(109, 39, 167));

}
.logo__conteiner{
    position: relative;
    
}
.logo{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 50px;
    width: 56px;
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translate(-50%, -50%); 
    filter: drop-shadow(0 0 10px rgb(109, 39, 167));
}
.navigation{
    display: flex;
    justify-content: center; 
}
.navigation button{
    margin: 0 8px;
}
.btn_nav{
    border-radius: 15px;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    width: 200px;
    height: 30px;
    font-size: 20px;   
    transition: opacity 0.6s ease;
    font-weight: bold;
}
button:hover{
    box-shadow: 1px 1px 20px rgb(117, 42, 179);
    transform: scale(1.05);
    color: rgb(117, 42, 179);
}
.navigation:hover > :not(:hover){
    opacity: 0.4;
}

#link_h{
    filter: drop-shadow(0 0 10px rgb(109, 39, 167));
}
#link_h:hover{
    transform: scale(1.1);
    filter: drop-shadow(0 0 10px rgb(39, 41, 167));
}



