html{
    
}
*{
    box-sizing: inherit;
}
body{
    background-image: url(../image/background-dark.jpg);
    height: 1080px;
    align-self: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
header{
    
}
.conteiner{
    background-color: rgb(255, 255, 255);
    height: 40px;
    border-radius: 25px;
    
}
.Welcome{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 130px;
    position: relative;
}
.logo{
    height: 50px;
    width: 56px;
    position: absolute;
    margin-left: 360px;
    margin-top: 70px;
    display: flex;
}