body {
    background-image: url(../image/news/bg.jpg);
    height: 5000px;
    margin: 0px;
    align-self: center;
    background-size: cover;
    background-size: contain;
    backdrop-filter: blur(10px);
    padding: 40px;
    padding-top: 0px;
}

header {
    height: 80px;
    width: 100%;
    background-color: rgba(0,0,0, 0.7);
    filter: drop-shadow(0 0 20px rgb(167, 60, 255));
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: auto;
    border-radius: 20px;
}

.spec_header .navigation {
    width: 100%;
    display: flex;
    justify-content: center;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.button-container button{
    margin: 0 8px;
}
.btn_nav {
    width: 200px;
    height: 30px;
    border-radius: 15px;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    transition: opacity 0.6s ease;
    font-weight: bold;
}

.spec_header button:hover {
    box-shadow: 1px 1px 20px rgb(117, 42, 179);
    transform: scale(1.05);
    color: rgb(117, 42, 179);
}

.spec_header .button-container:hover > :not(:hover) {
    opacity: 0.4;
}

h1{
    margin: 0%;
    font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
    font-weight: 600;
    color: #EAEAEA;
    filter: drop-shadow(0 0 20px rgb(167, 60, 255));
    font-size: 40px;
    text-align: center;
}
hr {
    width: 350px;
}
.scecialities{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.s121{
    position: absolute;
    width: 750px;
    height: 360px;
    border-radius: 15px;
    background-color: #EAEAEA;
    filter: drop-shadow(0 0 20px rgb(167, 60, 255));
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    background-color: #EAEAEA;
    justify-content: center;
    align-items: center;
    top: 180px;
}
.s121 img{
    position: absolute;
    border-radius: 15px;
    filter: drop-shadow(0 0 20px rgb(167, 60, 255));
    width: 200px;
    height: 200px;
    margin-left: -100px;
    margin-top: 75px;
}

.s121_text{
    margin-left: 130px;
    margin-right: 50px;
    text-indent: 15px;
    font-size: 18px;
    filter: drop-shadow(0 0 20px rgb(167, 60, 255));
}
.s121_text h6{
    font-size: 20px;
    position: absolute;
    margin-left: 20px;
    margin-top: 4px;
}

.s121_text .pr{
    text-indent: 15px;
}



/*КОМП ІНЖЕНЕРІЯ*/
.s123{
    position: absolute;
    width: 750px;
    height: 360px;
    border-radius: 15px;
    background-color: #EAEAEA;
    filter: drop-shadow(0 0 20px rgb(167, 60, 255));
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    background-color: #EAEAEA;
    justify-content: center;
    align-items: center;
    top: 580px;
}
.s123 img{
    position: absolute;
    border-radius: 15px;
    filter: drop-shadow(0 0 20px rgb(167, 60, 255));
    width: 200px;
    height: 200px;
    margin-left: -100px;
    margin-top: 75px;
}

.s123_text{
    margin-left: 130px;
    margin-right: 50px;
    text-indent: 15px;
    font-size: 18px;
    filter: drop-shadow(0 0 20px rgb(167, 60, 255));
}
.s123_text h6{
    font-size: 20px;
    position: absolute;
    margin-left: 20px;
    margin-top: 4px;
}

.s123_text .pr{
    text-indent: 15px;
}


/*ПІДПРИЄМНИЦТВО, ТОРГІВЛЯ ТА БІРЖОВА ДІЯЛЬНІСТЬ*/
.s076{
    position: absolute;
    width: 750px;
    height: 360px;
    border-radius: 15px;
    background-color: #EAEAEA;
    filter: drop-shadow(0 0 20px rgb(167, 60, 255));
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    background-color: #EAEAEA;
    justify-content: center;
    align-items: center;
    top: 980px;
}
.s076 img{
    position: absolute;
    border-radius: 15px;
    filter: drop-shadow(0 0 20px rgb(167, 60, 255));
    width: 200px;
    height: 200px;
    margin-left: -100px;
    margin-top: 75px;
}

.s076_text{
    margin-left: 130px;
    margin-right: 50px;
    text-indent: 15px;
    font-size: 18px;
    filter: drop-shadow(0 0 20px rgb(167, 60, 255));
}
.s076_text h6{
    font-size: 20px;
    position: absolute;
    margin-left: 20px;
    margin-top: 4px;
}

.s076_text .pr{
    text-indent: 15px;
}

/*МАРКЕТИНГ*/
.s075{
    position: absolute;
    width: 750px;
    height: 360px;
    border-radius: 15px;
    background-color: #EAEAEA;
    filter: drop-shadow(0 0 20px rgb(167, 60, 255));
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    background-color: #EAEAEA;
    justify-content: center;
    align-items: center;
    top: 580px;
}
.s075 img{
    position: absolute;
    border-radius: 15px;
    filter: drop-shadow(0 0 20px rgb(167, 60, 255));
    width: 200px;
    height: 200px;
    margin-left: -100px;
    margin-top: 75px;
}

.s075_text{
    margin-left: 130px;
    margin-right: 50px;
    text-indent: 15px;
    font-size: 18px;
    filter: drop-shadow(0 0 20px rgb(167, 60, 255));
}
.s075_text h6{
    font-size: 20px;
    position: absolute;
    margin-left: 20px;
    margin-top: 4px;
}

.s075_text .pr{
    text-indent: 15px;
}

/*ФІНАНСИ*/
.s072{
    position: absolute;
    width: 750px;
    height: 360px;
    border-radius: 15px;
    background-color: #EAEAEA;
    filter: drop-shadow(0 0 20px rgb(167, 60, 255));
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    background-color: #EAEAEA;
    justify-content: center;
    align-items: center;
    top: 580px;
}
.s072 img{
    position: absolute;
    border-radius: 15px;
    filter: drop-shadow(0 0 20px rgb(167, 60, 255));
    width: 200px;
    height: 200px;
    margin-left: -100px;
    margin-top: 75px;
}

.s072_text{
    margin-left: 130px;
    margin-right: 50px;
    text-indent: 15px;
    font-size: 18px;
    filter: drop-shadow(0 0 20px rgb(167, 60, 255));
}
.s072_text h6{
    font-size: 20px;
    position: absolute;
    margin-left: 20px;
    margin-top: 4px;
}

.s072_text .pr{
    text-indent: 15px;
}

/*ОБЛІК*/
.s071{
    position: absolute;
    width: 750px;
    height: 360px;
    border-radius: 15px;
    background-color: #EAEAEA;
    filter: drop-shadow(0 0 20px rgb(167, 60, 255));
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    background-color: #EAEAEA;
    justify-content: center;
    align-items: center;
    top: 580px;
}
.s071 img{
    position: absolute;
    border-radius: 15px;
    filter: drop-shadow(0 0 20px rgb(167, 60, 255));
    width: 200px;
    height: 200px;
    margin-left: -100px;
    margin-top: 75px;
}

.s071_text{
    margin-left: 130px;
    margin-right: 50px;
    text-indent: 15px;
    font-size: 18px;
    filter: drop-shadow(0 0 20px rgb(167, 60, 255));
}
.s071_text h6{
    font-size: 20px;
    position: absolute;
    margin-left: 20px;
    margin-top: 4px;
}

.s071_text .pr{
    text-indent: 15px;
}

/*ЕКОНОМІКА*/
.s072{
    position: absolute;
    width: 750px;
    height: 360px;
    border-radius: 15px;
    background-color: #EAEAEA;
    filter: drop-shadow(0 0 20px rgb(167, 60, 255));
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    background-color: #EAEAEA;
    justify-content: center;
    align-items: center;
    top: 580px;
}
.s072 img{
    position: absolute;
    border-radius: 15px;
    filter: drop-shadow(0 0 20px rgb(167, 60, 255));
    width: 200px;
    height: 200px;
    margin-left: -100px;
    margin-top: 75px;
}

.s072_text{
    margin-left: 130px;
    margin-right: 50px;
    text-indent: 15px;
    font-size: 18px;
    filter: drop-shadow(0 0 20px rgb(167, 60, 255));
}
.s072_text h6{
    font-size: 20px;
    position: absolute;
    margin-left: 20px;
    margin-top: 4px;
}

.s072_text .pr{
    text-indent: 15px;
}

/*ОБЛІК*/
.s051{
    position: absolute;
    width: 750px;
    height: 360px;
    border-radius: 15px;
    background-color: #EAEAEA;
    filter: drop-shadow(0 0 20px rgb(167, 60, 255));
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    background-color: #EAEAEA;
    justify-content: center;
    align-items: center;
    top: 580px;
}
.s051 img{
    position: absolute;
    border-radius: 15px;
    filter: drop-shadow(0 0 20px rgb(167, 60, 255));
    width: 200px;
    height: 200px;
    margin-left: -100px;
    margin-top: 75px;
}

.s051_text{
    margin-left: 130px;
    margin-right: 50px;
    text-indent: 15px;
    font-size: 18px;
    filter: drop-shadow(0 0 20px rgb(167, 60, 255));
}
.s051_text h6{
    font-size: 20px;
    position: absolute;
    margin-left: 20px;
    margin-top: 4px;
}

.s051_text .pr{
    text-indent: 15px;
}


/*ДИЗАЙН*/
.s022{
    position: absolute;
    width: 750px;
    height: 360px;
    border-radius: 15px;
    background-color: #EAEAEA;
    filter: drop-shadow(0 0 20px rgb(167, 60, 255));
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    background-color: #EAEAEA;
    justify-content: center;
    align-items: center;
    top: 580px;
}
.s022 img{
    position: absolute;
    border-radius: 15px;
    filter: drop-shadow(0 0 20px rgb(167, 60, 255));
    width: 200px;
    height: 200px;
    margin-left: -100px;
    margin-top: 75px;
}

.s022_text{
    margin-left: 130px;
    margin-right: 50px;
    text-indent: 15px;
    font-size: 18px;
    filter: drop-shadow(0 0 20px rgb(167, 60, 255));
}
.s022_text h6{
    font-size: 20px;
    position: absolute;
    margin-left: 20px;
    margin-top: 4px;
}

.s022_text .pr{
    text-indent: 15px;
}