html{
    scroll-behavior: smooth;
}
body {
	background-color: #EAEAEA;
	font-family: sans-serif;
	display: flex;
    padding: 40px;
    padding-top: 0px;
	align-items: center;
	justify-content: center;
	flex-direction: column;
    overflow-x: hidden;
    background-image: url(../image/news/bg.jpg);
    margin: 0 auto;
    background-attachment: fixed;
    background-size: contain;
    backdrop-filter: blur(10px);
}

header{
    height: 80px;
    width: 100%;
    background-color: rgba(0,0,0, 0.7);
    filter: drop-shadow(0 0 20px rgb(167, 60, 255));
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: auto;
    border-radius: 20px;
}

.news_header .navigation{
    display: flex;
    justify-content: center; 
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.button-container button{
    margin: 0 8px;
}
.news_header .btn_nav{
    border-radius: 15px;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    width: 200px;
    height: 30px;
    font-size: 20px;   
    transition: opacity 0.6s ease;
    font-weight: bold;
}
.news_header button:hover{
    box-shadow: 1px 1px 20px rgb(117, 42, 179);
    transform: scale(1.05);
    color: rgb(117, 42, 179);
}
.news_header .button-container:hover > :not(:hover){
    opacity: 0.4;
}

h1{
    margin: 0%;
    font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
    font-weight: 600;
    color: #EAEAEA;
    filter: drop-shadow(0 0 20px rgb(167, 60, 255));
    font-size: 40px;
}


.box {
    background-color: rgba(255, 255, 255, 0.199);
	border-radius: 10px;
    border: solid rgb(167, 60, 255) 2px;
    box-shadow: 0 0 2px 0.5px rgb(167, 60, 255), 0 0 2px 0.5px rgb(117, 42, 179);
    filter: drop-shadow(0 0 10px rgb(167, 60, 255));
	box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
	margin: 10px;
	width: 400px;
	height: 295px;
	transform: translateX(200%);
	transition: transform 0.4s ease;
}

.par_event{
    position: relative;
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

h2{
    position: absolute;
    font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
    margin-left: 420px;
    top: -6400px;
    color: #EAEAEA;
    filter: drop-shadow(0 0 20px rgb(167, 60, 255));
}

.event{
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    border: solid rgb(167, 60, 255) 2px;
    box-shadow: 0 0 2px 0.5px rgb(167, 60, 255), 0 0 2px 0.5px rgb(117, 42, 179);
    filter: drop-shadow(0 0 10px rgb(167, 60, 255));
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    width: 210px;
    height: 140px;
    position: absolute;
    margin-left: 350px;
    top: -6300px;
}
/*ПОДІЯ ПЕРША*/
#event1 img{
    height: 140px;
    width: 210px;
    border-radius: 10px;
}

/*ПОДІЯ ПЕРША*/
#event2{
    position: absolute;
    margin-left: 350px;
    top: -6100px;
}


#event3{
    position: absolute;
    margin-left: 350px;
    top: -5900px;
}

#event4{
    position: absolute;
    margin-left: 350px;
    top: -5700px;
}

#event5{
    position: absolute;
    margin-left: 350px;
    top: -5500px;
}

#event6{
    position: absolute;
    margin-left: 350px;
    top: -5300px;
}

#event7{
    position: absolute;
    margin-left: 350px;
    top: -5100px;
}

#event8{
    position: absolute;
    margin-left: 350px;
    top: -4900px;
}
.box:nth-of-type(even) {
	transform: translateX(-200%);
}

.box.show {
	transform: translateX(0);
}

#art-ter h3{
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 150px; 
    margin-top: -120px;
    filter: drop-shadow(0 0 10px rgb(247, 237, 255));

}
#art-ter p{
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden;
    margin-left: 13px;
    margin-top: 66px;
    text-indent: 15px;
    filter: drop-shadow(0 0 20px rgb(246, 235, 255));
    font-size: 20px;
}
#art-ter img{
    height: 120px;
    width: 120px;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 15px;
}
#art-ter button{
    border-radius: 10px ;
    border: solid rgb(117, 42, 179) 2px;
    box-shadow: 0 0 2px 0.5px rgb(117, 42, 179), 0 0 2px 0.5px rgb(117, 42, 179);
    filter: drop-shadow(0 0 10px rgb(117, 42, 179));
	box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    margin-left: 306px;
}
/*.more span{
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
}
.more{
    background-color: rgb(255, 255, 255);
    width: 80px;
}
.more:hover{
    transform: scale(1.05);
}
.more:hover span{
    filter: drop-shadow(0 0 5px rgb(117, 42, 179));
    color: rgb(117, 42, 179);
}
*/
.top{
    display: grid;
    place-items: center;
    place-self: start;
    position: sticky;
    bottom: 20px;
    right: 20px;
    margin-top: calc(100vh+50px);
    width: 80px;
    height: 40px;
    background: #EAEAEA;
    border-radius: 5px;
    font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
    text-decoration: none;
    font-weight: 700;
    filter: drop-shadow(0 0 10px rgb(117, 42, 179));
    color: black;
}

.top:hover{
    color: rgb(117, 42, 179);
    transform: scale(1.05);
}


